*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 2px solid rgb(173, 172, 172);
    margin-bottom: 10px;
}

.izquierda{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 100px;
}
.links{
    display: flex;
    gap: 40px;
}
.link{
    font-size: 17px;
    color: black;
    text-decoration: none;
}
.raya{
        border-bottom: 3px solid black;
    font-size: 17px;
    color: black;
    text-decoration: none;
}
.derecha{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.logo img{
    height: 50px;
}
.rojo{
    color: red;
}

.derecha img{
    height: 40px;
}
.derecha input{
    height: 30px;
    border-radius: 10px;
}


.parteArriba{
    display: flex;
    flex-direction: row;
    padding: 20px;
    gap: 40px;
            border-bottom: 2px solid rgb(173, 172, 172);
}
.parteGrande{
    display: flex;
    flex-direction: column;
    flex: 2;

                border-right: 2px solid rgb(173, 172, 172);
                padding-right: 10px;
}
.video img{
    height: 500px;
    width: 100%;
}
.video{
    align-items: center;
    
}
.likes{
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 20px;
        border-bottom: 2px solid rgb(173, 172, 172);
}

.zonaLike{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
.zonaLike img{
    height: 40px;
    cursor: pointer;
}
.botn{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.zonaMas{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
.zonaMas img{
    height: 30px;
}

.canal{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center ;
        border-bottom: 2px solid rgb(173, 172, 172);
        padding-top: 10px;
                padding-bottom: 10px;
}
.infocanal{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
.nombre{
    font-weight: bold;
    font-size: 20px;
}


.fotoCanal{
        height: 70px;
}
.subscribe button{
    height: 40px ;
    width: 120px;
    border-radius: 5px;
    color: white;
    border: none;
    cursor: pointer;
    background-color: red;
    font-size: 15px;
}

.desc{
    margin-top: 10px;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    gap: 20px;

}
.desc a{
    text-decoration: none;
    color: rgb(121, 30, 206);
        border-bottom: 2px solid rgb(173, 172, 172);
}
.partePequena{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.videos-cola{
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.siguientes{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.siguientes button{
    height:35px ;
    width: 100px;
    border-radius: 5px;
    border: solid 1px rgb(173, 172, 172);;
    cursor: pointer;
}

.tarjeta{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}
.tarjeta button{
    font-size: 25px;
    background-color: white;
    cursor: pointer;
}
.videin{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.negrita{
    font-weight: bold;
}
.tarjeta img{
    height: 130px;
    width: 210px;
}

.recomendados{
        display: flex;
    flex-direction: column;
    gap: 20px;

}

.anadir{
    border: solid 2px black;
    padding: 5px 5px 1px 5px;
}
.equis{
    border: none;
}


.parteAbajo{
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 30px   ;
}
.videoMas{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px   ;
}
.tarjetaRec{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tarjetaRec img{
    height: 130px;
    width: 210px;
}

.linea{
    font-size: 50px;
}